$color-black: #000;
$color-white: #fff;
$color-light-green: rgb(135, 235, 135);
$color-medium-green: rgb(45, 167, 45);
$color-dark-green: rgb(14, 93, 14);
$color-gray-dark: #777;

$height: 1000px;
$width: 500px;

#canvas1 {
    border: 3px solid $color-black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: $height;
    width: $width;
};
