#canvas1 {
  border: 3px solid #000;
  background-image: linear-gradient(to right bottom, rgba(229, 227, 227, 0.4), rgba(159, 159, 159, 0.6), rgba(89, 88, 88, 0.8));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1000px;
  width: 500px; }
